---
layout: default
pagination:
enabled: true
---
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<div class="home">

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}"
    {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});" {% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title" style=font-size:80px>{{ site.title }}</h1>
        {% if site.subtitle %}<p class="title" style=font-size:30px>{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>

  <div class="wrapper">
    <h1 id="headings">Introduction</h1>
    <p style="text-align: justify">
      This work presents a new method to combine policy search and 
      model predictive control~(MPC). 
      Our main contribution is <b>a policy-search-for-MPC framework</b>, in which 
      the design of both state-independent and state-dependent high-level decision 
      variables in the trajectory optimization is formulated as a policy search problem. 
      The resulting framework allows for learning three kinds of 
      high-level policies, including Gaussian policies, Gaussian linear policies, 
      and neural network policies.
      We apply the proposed framework to address a challenging problem in agile drone flight, 
      which is flying a quadrotor through fast-moving gates.
      Solving this problem is an important step towards 
      deploying the vehicle in a highly dynamic environment. 
      We show that the proposed approach successfully maneuvers a quadrotor 
      to fly through a pendulum-like dynamic gate in the physical world.
      The key is having both a trained high-level policy for automatically
      selecting desired decision variables and an MPC for simultaneously 
      trajectory planning and vehicle control.
      Our findings suggest that the proposed framework can achieve both 
      adaptive and robust control performance of the physical robot. 
    </p>

    <h2 id="headings">Video</h2> 
    <iframe width="700" height="406" src="https://www.youtube.com/embed/ZxfIJ0Q0-ac" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </div>

</div>